# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
instance/
.pytest_cache/

# Node
node_modules/
npm-debug.log

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Environment Variables
.env

# Editor
.vscode/
.idea/